body {
    margin: 0;
    padding: 0;
  }


.seccion-1 {
    background-color: #2C476B;
    height: 100%;
 

  }
  .presentacion{
    background-color: #2C476B;
   
  }

.nombre{
    font-family: 'Fjalla One', sans-serif;
    color:#2dc3ed;
    font-size: 60px;
    
    
}
.yosoy{
    position: relative;
    font-size: 15px;
    color: #fbfeba;

}

.hola{
    font-size: 48px;
    color: #fbfeba;
}
.full{
   position: relative;
   color: #fbfeba;
}
.video1{
  margin: 0;
  width: 90%;
  border:#181c3d;
  
}





/* Estilos para la sección 2 */
.seccion-2{

  background-color: #42699d;
  height: 100%;


}

.seccion-2 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: #fbfeba;
  margin-top: 10px;
}

.quiensoy {

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 60px;
  background-color: #181c3d;
  border-radius: 1px 4em ;
  border-bottom: 3px solid rgb(42, 42, 78);
  border-right: 3px solid rgb(42, 42, 78);
}

.seccion-2 p {
  font-family: monospace;
  font-size: 18px;
  line-height: 1.3;
  color: #c3cffa;
  text-align: left;
  margin-top: 20px;

}

.color{
  background-color: #42699d;

}



/* Estilos para la imagen */
.video2 {
  margin: 50px;
  margin-top: 90px;
width: 70%;
background-color: #42699d;



}





.seccion-3 {
  background-color: #2C476B;
  height: 100%;
}

@media screen and (max-width: 1500px) {
  .seccion-3 {
    height: 100%; 
    margin: 0;
    width: 100%;/* Ajusta la altura según el contenido en dispositivos más pequeños */
  }
  /* Agrega otros estilos específicos para dispositivos más pequeños aquí */
}

.starwars{
  
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Centramos horizontalmente la imagen */
    border-radius: 1px 4em ;
    border-bottom: 3px solid rgb(42, 42, 78);
   border-right: 3px solid rgb(42, 42, 78) ;
   margin-top: 30px;
   
}

.tituloCard{
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  margin-top: 60px;
  color:#2dc3ed;
  text-shadow: 2px 1px 1px rgb(255, 255, 255);
  
}

.habilidades{
  text-align: center;
  color:#fbfeba;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
}
.info{
  color:#2dc3ed;
  
}
.icon {
  display: flex;
  justify-content: center;
 
}
.icon a {
  margin: 0 10px; /* Ajusta el margen entre los iconos */
}

.iconprincipal a{
  margin: 0 10px; /* Ajusta el margen entre los iconos */
}

.seccion-4 {
  background-color: #42699d;
  height: auto;
}
.conectemos{
  margin-top: 20px;
  margin-left: 110px;
  align-items: center;
  justify-content: center;
  width: 300px;
  

}
.conect{
  color: #fbfeba;

}
.footer{
  margin-top: 30px;
}
.email{

  font-size: 30px;
    color:#2dc3ed;
  
}
@media screen and (max-width: 768px) {
  .seccion-4 {
    width: 100%;
    height: 100%;
  }
  .email{

    font-size: 15px;
      color:#2dc3ed;
    
  }
  .conectemos{
    margin-top: 20px;
    margin-left: 45px;
    align-items: center;
    justify-content: center;
    width: 150px;
    
  
  }

}